.card_wrapper {
  container: card/inline-size;
}

.color {
  background-color: var(--color-accent);
  display: block;
}

.blank {
  display: block;
  background-color: var(--color-backgroundwhite);
}

.text {
  margin: 2rem;
}

button {
  background-color: var(--color-accent); /* Baggrundsfarve (du kan ændre farven efter behov) */
  color: #fff; /* Tekstfarve */
  padding: 10px 20px; /* Polstring (tilpas størrelsen efter behov) */
  border: none; /* Fjern standardkanten */
  border-radius: 5px; /* Runde hjørner (tilpas efter behov) */
  cursor: pointer; /* Vis en pegefingerkursoren ved hover */
}

@container card (width < 340px) {
  img {
    inline-size: 100%;
    grid-column: 1/4;
    max-height: 350px;
  }
  .blank {
    display: none;
  }

  .color {
    display: none;
  }
}

@container card (width > 340px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .color {
    display: none;
  }

  img {
    grid-column: 1/3;
    grid-row: 1/5;
    width: 100%;
  }

  .blank {
    grid-column: 2/3;
  }

  .text {
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 5rem;
  }
}
/* button {
  background-color: var(--color-secondary);
} */

@container card (width > 850px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .color {
    display: block;
    grid-column: 1/2;
    grid-row: 1/5;
  }

  img {
    grid-column: 2/3;
    grid-row: 1/5;
    width: 100%;
  }

  button {
    background-color: var(--color-secondary);
  }
}
